body {

 background: rgba(89,108,120,1);
background: -moz-radial-gradient(center, ellipse cover, rgba(89,108,120,1) 0%, rgba(27,39,56,1) 100%);
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(89,108,120,1)), color-stop(100%, rgba(27,39,56,1)));
background: -webkit-radial-gradient(center, ellipse cover, rgba(89,108,120,1) 0%, rgba(27,39,56,1) 100%);
background: -o-radial-gradient(center, ellipse cover, rgba(89,108,120,1) 0%, rgba(27,39,56,1) 100%);
background: -ms-radial-gradient(center, ellipse cover, rgba(89,108,120,1) 0%, rgba(27,39,56,1) 100%);
background: radial-gradient(ellipse at center, rgba(89,108,120,1) 0%, rgba(27,39,56,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#596c78', endColorstr='#1b2738', GradientType=1 );
}


.formulario{
  color: #fff;
  font-size: 20px;
}

.tb10 {
  background-image:url(images/form_bg.jpg);
  background-repeat:repeat-x;
  border:1px solid #d1c7ac;
  width: 230px;
  color:#333333;
  padding:3px;
  margin-right:4px;
  margin-bottom:8px;
  font-family:tahoma, arial, sans-serif;
}

.tip{
      margin-top: -5%;
      margin-left: 40%;
      padding: 10px;
      display: none;
      position: absolute;
      font-family: sans-serif;
      font-size: 20px;
}